<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <%= yield %>
    <button type="button" name="button"><a href="/">Home</a></button>
  </body>
</html>
